<div class="row">
	<div class="col-lg-3" id="affix-nav">
		<nav class="affix" data-spy="affix" data-offset-top="150"> <!--offset not working :( -->
			<div id="fixed-menu" class="list-group">
				<a href="#about" class="ajax list-group-item active">Mission</a></li>
				<a href="#about.contact" class="ajax list-group-item">Contact</a></li> <!--list-group-item-->
				<a href="#about.members" class="ajax list-group-item">Members</a>
				<a href="#about.coaches+mentors" class="ajax list-group-item">Coaches and Mentors</a>
				<a href="#about.captains" class="ajax list-group-item">Captains</a>
				<a href="#about.past" class="ajax list-group-item">Past Years</a>
			</div>
		</nav>
	</div>
	<div class="col-lg-9">
		<div class="row">
			<div class="col-lg-12 about-block">
				<a id="about" href="#about"><h3 class="large-header">Mission</h3></a>
				<div><p>The mission of Armada Robotics is to offer students the opportunity to learn leadership, experience, and real-world techniques to creatively meet an engineering challenge with the help of experienced mentors. The team will also foster a cooperative environment dedicated to the growth of all members and mentors as well as the community and other FIRST teams-all while having fun!</p></div></div>
			</div>
			<div class="row">
				<div class="col-lg-12 about-block">
					<a id="about.contact" href="#about.contact"><h3 class="large-header">Contact</h3></a>
					<address>Address:<br>
						Stillwater Area High School<br>
						5701 Stillwater Blvd N. Stillwater, MN 55082<address> 
						<p>Rooms: B116, B120, B122, B124</p>
						<p><a href="mailto: armada.robotics2508@gmail.com">armada.robotics2508@gmail.com</a> (Team Email)</p>
						<p><a href="mailto: joeyfodor@gmail.com">joeyfedor@gmail.com</a> (Captain's Email)</p></div>
					</div>
					<div class="row">
						<div class="col-lg-12"><a id="about.members" href="#about.members"><h3 class="large-header">Members - Meet the Team!</h3></a></div>
						<div class="col-lg-12">
							<div class="col-lg-6" id="about-col">
								<div class="row">
									<div id ="profile-column-member" class="col-lg-4">
										<img class= "profileimg" src="images/profilepics/joey.jpg" alt="Face"/>
									</div>


									<div class="col-lg-8 sidebar">
										<h4 class="text-muted single-spaced">Joey Fedor</h4>
										<p class="text-muted single-spaced">Captain</p>
										<p>Is the team's fearless leader and is one of the
											rare proprietors of the prestigious "Fedor hair swoosh".</p>
										</div>
									</div>
								</div>

								<div class="col-lg-6" id="about-col">
									<div class="row">
										<div id ="profile-column-member" class="col-lg-4">
											<img class= "profileimg" src="images/profilepics/roger.jpg" alt="Face"/>
										</div>


										<div class="col-lg-8 sidebar">
											<h4 class="text-muted single-spaced">Roger The Robot</h4>
											<p class="text-muted single-spaced">Mascot</p>
											<p>An inspiration to all those who behold him, and a universal
												symbol of all that is Armada.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-12 ">
									<div class="col-lg-6" id="about-col">
										<div class="row">
											<div id ="profile-column-member" class="col-lg-4">
												<img class= "profileimg" src="images/profilepics/margo.jpg" alt="Face"/>
											</div>


											<div class="col-lg-8 sidebar">
												<h4 class="text-muted single-spaced">Margo Redmond</h4>
												<p class="text-muted single-spaced">Officer - Communications</p>
												<p>One of the team's several spicy gingers.</p>
											</div>
										</div>
									</div>
									<div class="col-lg-6" id="about-col">
										<div class="row">
											<div id ="profile-column-member" class="col-lg-4">
												<img class= "profileimg" src="images/profilepics/peace.jpg" alt="Face"/>
											</div>


											<div class="col-lg-8 sidebar">
												<h4 class="text-muted single-spaced">Peace Sinyigaya</h4>
												<p class="text-muted single-spaced">Officer - Secretary</p>
												<p>It is because of her that we actually get
													food sometimes.</p>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-12">
										<div class="col-lg-6" id="about-col">
											<div class="row">
												<div id ="profile-column-member" class="col-lg-4">
													<img class= "profileimg" src="images/profilepics/kyle.jpg" alt="Face"/>
												</div>


												<div class="col-lg-8 sidebar">
													<h4 class="text-muted single-spaced">Kyle Badger</h4>
													<p class="text-muted single-spaced">Officer - Build</p>
													<p>This reckless but excellent leader will probably get injured during competition.</p>
												</div>
											</div>
										</div>
										<div class="col-lg-6" id="about-col">
											<div class="row">
												<div id ="profile-column-member" class="col-lg-4">
													<img class= "profileimg" src="images/profilepics/IMG_3899.jpg" alt="Face"/>
												</div>


												<div class="col-lg-8 sidebar">
													<h4 class="text-muted single-spaced">Ace Oubaha</h4>
													<p class="text-muted single-spaced">Junior Captain</p>
													<p>Likes fast walks in the park and eating massive
														amounts of clementines.</p>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-12 ">
											<div class="col-lg-6" id="about-col">
												<div class="row">
													<div id ="profile-column-member" class="col-lg-4">
														<img class= "profileimg" src="images/profilepics/dakota.jpg" alt="Face"/>
													</div>


													<div class="col-lg-8 sidebar">
														<h4 class="text-muted single-spaced">Dakota Christopherson</h4>
														<p class="text-muted single-spaced">Build Team/Comedic-Relief</p>
														<p>Armada has unanimously agreed that he has the team's nicest legs.</p>
													</div>
												</div>
											</div>
											<div class="col-lg-6" id="about-col">
												<div class="row">
													<div id ="profile-column-member" class="col-lg-4">
														<img class= "profileimg" src="images/profilepics/david.jpg" alt="Face"/>
													</div>


													<div class="col-lg-8 sidebar">
														<h4 class="text-muted single-spaced">David Lee</h4>
														<p class="text-muted single-spaced">Build-Team</p>
														<p>Robot-builder, cello-master—is there a limit to what David's hands can do?</p>
													</div>
												</div>

											</div>
										</div>
										<div class="col-lg-12">
											<div class="col-lg-6" id="about-col">
												<div class="row">
													<div id ="profile-column-member" class="col-lg-4">
														<img class= "profileimg" src="images/profilepics/mitchell.jpg" alt="Face"/>
													</div>


													<div class="col-lg-8 sidebar">
														<h4 class="text-muted single-spaced">Mitchell Pung</h4>
														<p class="text-muted single-spaced">Programmer</p>
														<p>Fluent in Java, and future inventor 
															of the keyboard-less keyboard.</p>
														</div>
													</div>
												</div>
												<div class="col-lg-6" id="about-col">
													<div class="row">
														<div id ="profile-column-member" class="col-lg-4">
															<img class= "profileimg" src="images/profilepics/keenan.jpg" alt="Face"/>
														</div>


														<div class="col-lg-8 sidebar">
															<h4 class="text-muted single-spaced">Keenan Thompson</h4>
															<p class="text-muted single-spaced">Programmer</p>
															<p>A very quiet thousandaire programming
																child-prodigy.</p>
															</div>
														</div>

													</div>
												</div>
												<div class="col-lg-12 ">
													<div class="col-lg-6" id="about-col">
														<div class="row">
															<div id ="profile-column-member" class="col-lg-4">
																<img class= "profileimg" src="images/blankprofile.png" alt="Face"/>
															</div>


															<div class="col-lg-8 sidebar">
																<h4 class="text-muted single-spaced">Cory Spawn</h4>
																<p class="text-muted single-spaced">Electrician</p>
																<p>The entire pneumatics and electrical wiring team, and the son of a really good cookie-baker.</p>
															</div>
														</div>
													</div>
													<div class="col-lg-6" id="about-col">
														<div class="row">
															<div id ="profile-column-member" class="col-lg-4">
																<img class= "profileimg" src="images/blankprofile.png" alt="Face"/>
															</div>


															<div class="col-lg-8 sidebar">
																<h4 class="text-muted single-spaced">Monica Anuforo</h4>
																<p class="text-muted single-spaced">Website Developer</p>
																<p>Hobbies include writing these descriptions and constantly getting her &#60;/div&#62;s mixed up.</p>
															</div>
														</div>
													</div>
												</div>

											</div>


											<div class="row" id="mentors">
												<div class="col-lg-12">
													<a id="about.coaches+mentors" href="#about.coaches+mentors"><h3>Coaches and Mentors</h3></a></div>
													<div class="col-lg-12">
														<div id ="profile-column-coach" class="col-lg-2">
															<img class= "profileimg" src="images/profiles/sym.jpg" alt="Face"/>
														</div>

														<div class="col-lg-10">
															<h4 class="text-muted single-spaced">Dennis Symalla</h4><p class="text-muted single-spaced">Coach</p>
															<p>Dennis Symalla has, on separate occasions, been referred to as a "jedi", "Yoda", and "Supreme Physics Overlord". His educational background is unfortunately shrouded in mystery, however, an informant says that Dennis may have received his B.S. in Physics at St. John's University. Along with Todd Kapsner, Dennis is a coach and founder of Armada Robotics, and enjoys, according to our source, "watching us struggle and make mistakes" throughout the build-season.</p>
														</div>
													</div>

													<div class="col-lg-12">
														<div id ="profile-column-coach" class="col-lg-2">
															<img class= "profileimg" src="images/blankprofile.png" alt="Face"/>
														</div>

														<div class="col-lg-10">
															<h4 class="text-muted single-spaced">Todd Kapsner</h4><p class="text-muted single-spaced">Coach</p>
															<p>Todd received his B.S. in Technology Education from Bemidji State University, and his Master's from University of Wisconsin - Stout.Here at Stillwater Area Highschool, Todd teaches Engineering Drafting, Architectural Drafting, Woodworking I, Woodworking II, Metalworking I, Metalworking II, Electronics, Automotives, Engineering and Design, and Project Lead the Way. Kapsner is one of the founders and coaches of Armada, and enjoys helping team-members trouble-shoot problems and helping the team fix them.</p>
														</div>
													</div>
													<div class="col-lg-12">
														<div id ="profile-column-coach" class="col-lg-2">
															<img class= "profileimg" src="images/blankprofile.png" alt="Face"/>
														</div>

														<div class="col-lg-10">
															<h4 class="text-muted single-spaced">Vincent Fedor</h4><p class="text-muted single-spaced">Mentor</p>
															<p></p>
														</div>
													</div>
													<div class="col-lg-12">
														<div id ="profile-column-coach" class="col-lg-2">
															<img class= "profileimg" src="images/blankprofile.png" alt="Face"/>
														</div>

														<div class="col-lg-10">
															<h4 class="text-muted single-spaced">Mark Smith</h4><p class="text-muted single-spaced">Mentor</p>
															<p>Mark Smith is an electrical engineer for 3M (a Minnesota-based manufacturing company and one of this team's several sponsors). Mark graduated from the University of Minnesota for electrical engineering and possesses many years of experience designing control systems for 3M machines. Vince Fedor, another one of Armada's mentors, introduced Mark to Team 2508 five years ago, and since then, he has provided Armada with vital technological expertise.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
