Armada Robotics Team 2508 is in continuous need of monetary donations with which to purchase materials (e.g. tools and hardware). Please know that no donation is too small, and that Armada greatly appreciates each of its supporters. <span class="text-muted">Thank you!</span>

<div class="container-marketing">
<div class="row">
        <div class="col-lg-6">
          <img class="img-square" src="images/elsepay.png" alt="Generic placeholder image" style="width: 140px; height: 140px; margin-bottom: 20px;">
          <p><a class="btn btn-default" href="#" role="button">Mail a Check/Contact Mentor &raquo;</a></p>
        </div>
        <div class="col-lg-6">
          <img class="img-square" src="images/paypal.png" alt="Generic placeholder image" style="width: 140px; height: 140px; margin-bottom: 20px;">
          <p><a class="btn btn-default" href="#" role="button">Donate via PayPal &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
</div>
</div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Why donate to Stillwater Armada Robotics? <span class="text-muted">Support future leaders.</span></h2>
          <p class="lead">Although this robotics team has several amazing coaches and mentors, the majority of Armada's functions are student-led. Many of our members will move on to universities and careers that will utilize the leadership skills learned right here in Armada Robotics.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/wireframeslide.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/wireframeslide.png" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted">Foster innovation and creativity.</span></h2>
          <p class="lead">Here at Armada, we use knowledge and experimentation in woodworking, metalworking, software developement, networking, electronics, wiring, and telecommunications, to achieve an objective. This year's young robot-builders may be our world's future problem-solvers. Please, keep the flame of STEM alive by contributing to a robotics team's efforts. </p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted">Encourage collaboration.</span></h2>
          <p class="lead">Armada upholds a strong sense of cooporation between the different small groups of people that focus on design, mechanics, woodworking, metalworking, electronics, and programming. Armada would be unsuccessful without collaboration, just as many of the world's greatest organizations.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/wireframeslide.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <h3 id="#howtodonate" class="large-header">How to Send a Check to Armada</h3>
      <ul>
        <li>Make checks out to Dennis Symalla</li>
        <li>Mail to [School address here]</li>
        <li>WOw this needs to be fact-checked</li>
        <li>Wow this needs more margin at the top</li>
        <li>Wow this font-size is bad</li>
        </ul>