<div class="jumbotron"><h4 class="large-header">Donating to Armada</h4>
THANKSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS</div>
<div class="container-marketing">
<div class="row">
        <div class="col-lg-3">
          <img class="img-square" src="images/elsepay.png" alt="Generic placeholder image" style="width: 140px; height: 140px; margin-bottom: 20px;">
          <p><a target="_blank" class="btn btn-default" href="#sponsors" role="button">Mail a Check/Contact Mentor &raquo;</a></p>
        </div>
        <div class="col-lg-3">
          <img class="img-square" src="images/paypal.png" alt="Generic placeholder image" style="width: 140px; height: 140px; margin-bottom: 20px;">
          <p><a class="btn btn-default" href="#" role="button">Donate via PayPal &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          <img class="img-square" src="images/applepay.png" alt="Generic placeholder image" style="width: 140px; height: 140px; margin-bottom: 20px;">
          <p><a class="btn btn-default" href="#" role="button">Donate via ApplePay &raquo;</a></p>
        </div>
        <div class="col-lg-3">
 <img class="img-square" src="images/googlewallett.png" alt="Generic placeholder image" style="width: 140px; height: 140px; margin-bottom: 20px;">
          <p><a class="btn btn-default" href="#" role="button">Donate via Google Wallett &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
</div>
</div>


      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Why donate to Stillwater Armada Robotics? <span class="text-muted">Support future leaders.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/wireframeslide.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/wireframeslide.png" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted">Foster innovation and creativity.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted">Encourage collaboration.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/teamphoto.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">