<h3 id="member-header">Team</h3>

<div class="row">
	 <div id ="profile-column" class="col-lg-2">
	        <img class= "profileimg" src="images/blankprofile.png" alt="Face"/>
	        </div>

	    
	        <div class="col-lg-10 sidebar">
	        	<h4 class="text-muted">Joey Fedor - Captain</h4>
	        	<p>Blah blah blah blah</p>
	        </div>
</div>

<div class="row">
	 <div id ="profile-column" class="col-lg-2">
	        <img class= "profileimg" src="images/blankprofile.png" alt="Face"/>
	        </div>

	    
	        <div class="col-lg-10 sidebar"> asdflkasdf
	        </div>
</div>

<div class="row">
	 <div id ="profile-column" class="col-lg-2">
	        <img class= "profileimg" src="images/blankprofile.png" alt="Face"/>
	        </div>

	    
	        <div class="col-lg-10 sidebar"> asdflkasdf
	        </div>
</div>

<div class="row">
	 <div id ="profile-column" class="col-lg-2">
	        <img class= "profileimg" src="images/blankprofile.png" alt="Face"/>
	        </div>

	    
	        <div class="col-lg-10 sidebar"> asdflkasdf
	        </div>
</div>

<h3 id="member-header">Mentors</h3>
<div class="row">
	 <div id ="profile-column" class="col-lg-2">
	        <img class= "profileimg" src="images/blankprofile.png" alt="Face"/>
	        </div>

	    
	        <div class="col-lg-10 sidebar"> asdflkasdf
	        </div>
</div>
<div class="row">
	 <div id ="profile-column" class="col-lg-2">
	        <img class= "profileimg" src="images/blankprofile.png" alt="Face"/>
	        </div>

	    
	        <div class="col-lg-10 sidebar"> asdflkasdf
	        </div>
</div>
<div class="row">
	 <div id ="profile-column" class="col-lg-2">
	        <img class= "profileimg" src="images/blankprofile.png" alt="Face"/>
	        </div>

	    
	        <div class="col-lg-10 sidebar"> asdflkasdf
	        </div>
</div>
