<div class="jumbotron"><h4>Armada thanks it's wonderful sponsors for their vital and generous support. <a href="#howtosponser">Learn how to become a sponsor.</a></h4></div>
<div id="sponsor">
	<div class="row">
		<div class="col-lg-4">
			<div class="sponsorlogo">
				<a href="http://www.3m.com/" target="_blank" title="3M">
					<img src="images/3MLogo.png" alt="3M" class="center">
				</a>
			</div>
		</div>
		<div class="col-lg-7"><div>
			<a href="http://www.3m.com/" target="_blank" title="3M">3M</a></div>
			<hr>
			The 3M Company, is a United States multinational conglomerate corporation 
			based in Maplewood, Minnesota, United States. 3M has operations in more 
			than 65 countries – 29 international companies, 3M India is the only 
			public company other than the parent company. 3M products are available 
			for purchase through distributors and retailers in more than 200 countries 
			and/or colonies, and many 3M products are available online directly from 
			the company.
		</div>
	</div>


	<div class="row">
		<div class="col-lg-4">
			<div class="sponsorlogo">
				<a href="https://plus.google.com/117404515836873962817/about?gl=us&hl=en" 
				target="_blank" title="Stillwater Glass">
				<img src="images/StillwaterGlass.png" alt="Stillwater Glass" class="center">
			</a>
		</div>
	</div>

	<div class="col-lg-7">
		<a href="https://plus.google.com/117404515836873962817/about?gl=us&hl=en" 
		target="_blank" title="Stillwater Glass">Stillwater Glass</a>
		<hr>
		Stillwater Glass replaces broken glass in automotive vehicles, homes, 
		and business locations. They repair screens and are an authorized 
		Anderson Windows service representative
	</div>
</div>

<div class="row"> 
	<div class="col-lg-4">
		<div class="sponsorlogo">
			<a href="http://www.stillwaterprinting.com/" target="_blank" title="Stillwater Printing">
				<img src="images/StillwaterPrintingLogo.png" alt="Stilwater Printing" class="center">
			</a>
		</div>
	</div>
	<div class="col-lg-7">
		<a href="http://www.stillwaterprinting.com/" target="_blank" title="Stillwater Printing">Stillwater Printing</a>
		<hr>
		Stillwater Printing is a company that combines quality printing and creative
		commercial design to provide the best support servicecs possible to its clients.
		Stillwater Printing Company provides a wide variety of products, from sales 
		flyers to logo design, all to provide the best solution to your design needs.
	</div> 
</div>

<div class="row">
	<div class="col-lg-4">
		<div class="sponsorlogo">
			<a href="http://www.partnershipplan.org/" target="_blank" title="Partnership Plan">
				<img src="images/PartnershipPlanLogo.png" alt="Partnership Plan">
			</a>
		</div>
	</div>
	<div class="col-lg-7"><div>
		<a href="http://www.partnershipplan.org/" 
		target="_blank" title="Partnership Plan">Partnership Plan</a><hr>
		The Partnership Plan is a non-profit organization that strives to 
		enhance the educational experience of students in the Stillwater Area.
	</div>
</div>
</div>

<div class="row">
	<div class="col-lg-4">
		<div class="sponsorlogo">
			<a href="http://www.techified.net/" 
			target="_blank" title="Literally the best company ever">
			<img src="images/Techified.png" alt="Techified">
		</a>
	</div>
</div>
<div class="col-lg-7"><div>
	<a href="http://www.techified.net/" 
	target="_blank" title="Literally the best company ever">Techified</a><hr>
	Techified is a Minnesota company that develops customer server software 
	and websites for small and medium businesses.
</div>
</div>
</div>

<div class="row">
	<div class="col-lg-4">
		<div class="sponsorlogo">
			<a href="http://www.lakeelmoautomotiverepair.com/" target="_blank" title="Lake Elmo Repair">
				<img src="images/LakeElmoRepair.jpg" alt="Lake Elmo Repair">
			</a>
		</div>
	</div>
	<div class="col-lg-7"><div>
		<a class="fancylink" href="http://www.lakeelmoautomotiverepair.com/" 
		target="_blank" title="Lake Elmo Repair">Lake Elmo Repair</a><hr>
		Voted "Best Automotive Service Shop" on Angie's List three years in a row, 
		Lake Elmo Repair provides honest and quality auto repair services to its clients. 
		For fast and affordible automotive repair, one can find Lake Elmo Repair in Lake Elmo,
		Minnesota.
	</div>
</div>
</div>

<div class="row"> 
	<div class="col-lg-4">
		<div class="sponsorlogo">
			<a href="http://www.nepsiscapital.com/" target="_blank" title="Nepsis Capital Management">
				<img src="images/nepsis_logo.jpg" alt="Solutions Engineering">
			</a>
		</div>
	</div>
	<div class="col-lg-7">
		<a href="http://www.nepsiscapital.com/" 
		target="_blank" title="Nepsis Capital Management">Nepsis Capital Management</a>
		<hr>
		Nepsis Capital Management is a financial investment advisory firm. 
		It is located in Minneapolis, MN. 
		They strive for clarity in their money management techniques. 
	</div> 
</div>

<div class="row"> 
	<div class="col-lg-4">
		<div class="sponsorlogo">
			<a href="http://www.polaris.com/en-us/home.aspx" target="_blank" title="Polaris">
				<img src="images/polaris_logo.jpg" alt="Solutions Engineering">
			</a>
		</div>
	</div>
	<div class="col-lg-7">
		<a href="http://www.polaris.com/en-us/home.aspx" 
		target="_blank" title="Polaris">Polaris</a>		<hr>
		Polaris is an American manufacturer of snowmobiles, ATVs, and neighborhood 
		electric vehicles, with a firm belief in the ethics and value of their 
		employees. Polaris endeavors to manufacture great products by working 
		with integrity, innovation, passion for excellence, focus on customers, 
		and other commendable company values.
	</div> 
</div>

<div class="row"> 
	<div class="col-lg-4">
		<div class="sponsorlogo">
			<a href="https://unitedhardware.com/Default.aspx" target="_blank" title="United Hardware">
				<img src="images/hardware_logo.jpg" alt="Solutions Engineering">
			</a>
		</div>
	</div>
	<div class="col-lg-7">
		<a class="fancylink" href="https://unitedhardware.com/Default.aspx" 
					target="_blank" title="United Hardware">United Hardware</a><hr>
		United Hardware is a distributing company located in Plymoth, MN.  
		They supply hardware items to about 610 businesses.  Most of their 
		supplies goes Hardware Hank stores, which is owned by United Hardware.
	</div> 
</div>

<div class="row"> 
	<div class="col-lg-4">
		<div class="sponsorlogo">
			<a href="http://www.vistatek.com/" 
				target="_blank" title="Vistatek">
				<img src="images/VistaTek_logo.jpg" alt="Solutions Engineering">
			</a>
		</div>
	</div>
	<div class="col-lg-7">
		<a class="fancylink" href="http://www.vistatek.com/" 
					target="_blank" title="Vistatek">VistaTek</a>		<hr>
		VistaTek is a family-owned manufacturing company located in 
		Stillwater, MN. The company’s state-of-the-art software and in-house 
		technologies allow it to efficiently assist customers with small to 
		large projects. Furthermore, VistaTek’s expert staff help customers get 
		their products to the market as quickly and cost-efficiently as possible.
	</div> 
</div>

<div class="jumbotron">
	<h3 id="howtosponser" class="center">How To Sponsor Armada:</h3>
		<h4> We are in continual need of sponsors to achieve our goals. If you would 
			like to sponsor us, we are in need of many different types of support. 
			Donations of materials, money, and time are all greatly appreciated. 
			If you would like additional information about our team or what we are 
			able to provide in return, please contact us at 
				<a class="fancylink" href="mailto:armada.robotics2508@gmail.com">armada.robotics2508@gmail.com</a>. 
				If you would like to support us monetarily, checks can be sent to:</h4>
				<address>
					Stillwater Area High School<br>
					Attn: Dennis Symalla (Robotics)<br>
					5701 Stillwater Blvd N.<br>
					Stillwater, MN 55082
				</address>
				<p>
					We are a non-profit organization and all donations are tax deductible.
				</p>
			</div>
		</div>